{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts reversed %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h3><a class="article-title" href="#">{{ post.title }}</a></h3>
            <small class="text-muted"><a class="article-title" href="#">{{ post.get_genre_display }}</a></small><br/>
            <small class="text-muted"><a class="article-title" href="#">{{ post.author1 }}</a></small><small> vs</small>
            <small class="text-muted"><a class="article-title" href="#"> {{ post.author2 }}</a></small><br/>
            <textarea readonly rows="10" cols="120" style="scrollbar-width: 10px; scrollbar-base-color: darkgrey; scrollbar-highlight-color: black; border-color: white; font-size: small;">{{ post.content }}</textarea>
          </div>
        </article>
    {% endfor %}
{% endblock content %}